@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(assets/fonts/Poppins-Bold.ttf);
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    display: flex;
    /* height: 100vh; */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    background: linear-gradient(180deg, #1947e5, #3d65f4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* não precisamos mais de space-between aqui */
    color: white;
    padding: 20px 0;
    z-index: 1000;
}

/* Transformando o <div> interno em flex container */
.sidebar>div {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* para ocupar toda a altura */
}

.logo-box {
    background-color: white;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    padding: 10px 42px;
    margin: 10px 20px 30px 0px;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 17px 45px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.menu .active {
    font-family: 'Poppins-Bold', sans-serif;
}

/* Aqui está o truque: empurrar o logout para baixo */
.logout {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10.5vh 2vw;
    text-decoration: none;
    color: white;
    font-weight: 500;

    margin-top: auto;
}

.main-content {
    margin-left: 17rem;
    min-height: 65rem;
}

.divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 20px;
}

/* .logout {
    margin-top: auto;
    margin-left: 20px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
} */

.graficoAll {
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
}

/* h1 {
    text-align: center;
} */

#filtroContainer {
    margin-bottom: 20px;
}

#ipSelect {
    font-family: 'Poppins', sans-serif;
    border-color: #2446CE;
    border-radius: 8px;
    padding: 8px 10px;
    width: 280px;
    font-size: 16px;
}

#colorSelect {
    font-family: 'Poppins', sans-serif;
    border-color: #2446CE;
    border-radius: 8px;
    padding: 8px 10px;
    width: 280px;
    font-size: 16px;
}

canvas {
    max-width: 480px;
    max-height: 500px;
    margin: 15px auto;
    display: block;
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 8px rgb(0 0 0 / 0.1);
}

.ficheiro {
    font-family: 'Poppins';
}

.verMaisContainer {
    display: none;
    text-align: end;
    margin-top: 1rem;

}

.verMaisBtn {
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 8rem;
}

#timelineTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 0.5px solid #5b8ce2;
    border-radius: 8px;
    overflow: hidden;
    background-color: #9abaf1;
  }
  
  #timelineTable thead tr {
    background-color: #4A90E2;
  }
  
  #timelineTable thead th {
    padding: 10px 12px;
    color: #000000;
    font-family: 'Poppins-Bold';
    text-align: left;
    background-color: #ffffff;
    border-bottom: 0.5px solid #5b8ce2;
  }
  
  #timelineTable tbody td {
    padding: 8px 12px;
    background-color: #f7f9fc;
    color: #000000;
    border-bottom: 0.5px solid #5b8ce2;
  }
  
  #timelineTable tbody tr:nth-child(even) td {
    background-color: #eff3fa;
  }
  
  #timelineTable tbody tr:hover td {
    background-color: #e0ebff;
    cursor: pointer;
  }
  
  #timelineTable tbody tr:last-child td {
    border-bottom: 0.5px solid #0f2c5f;
  }
  
  #timelineTable tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
  }
  
  #timelineTable tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
  }

  #timelineTable tbody td {
    padding: 16px 12px; /* 16px em cima/baixo e 12px nas laterais */
  }

  