@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    display: flex;
    height: 100vh;
}

.sidebar {
    position: fixed;       /* fixa a sidebar na tela */
    top: 0;                /* começa no topo */
    left: 0;               /* fixada na esquerda */
    height: 100vh;         /* altura total da viewport */
    width: 240px;
    background: linear-gradient(180deg, #1947e5, #3d65f4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 20px 0;
    z-index: 1000;         /* garante que fique acima do conteúdo */
}

.main-content{
    margin-left: 17rem;
}

.logo-box {
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px 50px;
    margin: 10px 20px 30px 0px;

}

.logo {
    background-color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.menu .active {
    font-weight: bold;
}

.divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 20px;
}

.logout {
    margin-top: auto;
    margin-left: 20px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* h1 {
    text-align: center;
} */

#filtroContainer {
    text-align: center;
    margin-bottom: 20px;
}

#ipSelect {
    padding: 6px 8px;
    width: 280px;
    font-size: 16px;
}

canvas {
    max-width: 480px;
    max-height: 500px;
    margin: 15px auto;
    display: block;
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 8px rgb(0 0 0 / 0.1);
}

.ficheiro{
    font-family: 'Poppins';
}